/* You can add global styles to this file, and also import other style files */
body {
    zoom: 1.05;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #9f1f80;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: lightgray; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: lightgray; 
}